<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zhangsun.example.jtaatomikos.mapper.master.JtaMasterMapper">

    <insert id="insert" parameterType="site.zhangsun.example.jtaatomikos.pojo.entity.JtaEntity">
        insert into master.jta (name) values (#{name})
    </insert>
</mapper>
